<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysHouseMapper">
    
    <resultMap type="com.ruoyi.system.domain.SysHouse" id="SysHouseResult">
        <result property="businessId"    column="business_id"    />
        <result property="houseName"    column="house_name"    />
        <result property="houseNumber"    column="house_number"    />
        <result property="houseBooks"    column="house_books"    />
    </resultMap>

    <sql id="selectSysHouseVo">
        select business_id, house_name, house_number, house_books from sys_house
    </sql>

    <select id="selectSysHouseList" parameterType="com.ruoyi.system.domain.SysHouse" resultMap="SysHouseResult">
        <include refid="selectSysHouseVo"/>
        <where>  
            <if test="houseName != null  and houseName != ''"> and house_name like concat('%', #{houseName}, '%')</if>
            <if test="houseNumber != null "> and house_number = #{houseNumber}</if>
            <if test="houseBooks != null  and houseBooks != ''"> and house_books = #{houseBooks}</if>
        </where>
    </select>
    
    <select id="selectSysHouseById" parameterType="Long" resultMap="SysHouseResult">
        <include refid="selectSysHouseVo"/>
        where business_id = #{businessId}
        order by house_books asc
    </select>
        
    <insert id="insertSysHouse" parameterType="com.ruoyi.system.domain.SysHouse" useGeneratedKeys="true" keyProperty="businessId">
        insert into sys_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="houseName != null">house_name,</if>
            <if test="houseNumber != null">house_number,</if>
            <if test="houseBooks != null">house_books,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="houseName != null">#{houseName},</if>
            <if test="houseNumber != null">#{houseNumber},</if>
            <if test="houseBooks != null">#{houseBooks},</if>
         </trim>
    </insert>

    <update id="updateSysHouse" parameterType="com.ruoyi.system.domain.SysHouse">
        update sys_house
        <trim prefix="SET" suffixOverrides=",">
            <if test="houseName != null">house_name = #{houseName},</if>
            <if test="houseNumber != null">house_number = #{houseNumber},</if>
            <if test="houseBooks != null">house_books = #{houseBooks},</if>
        </trim>
        where business_id = #{businessId}
    </update>

    <delete id="deleteSysHouseById" parameterType="Long">
        delete from sys_house where business_id = #{businessId}
    </delete>

    <delete id="deleteSysHouseByIds" parameterType="String">
        delete from sys_house where business_id in 
        <foreach item="businessId" collection="array" open="(" separator="," close=")">
            #{businessId}
        </foreach>
    </delete>

</mapper>