<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增茶叶基本信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bases-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">茶叶名称：</label>
                <div class="col-sm-8">
                    <input name="chaName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产地：</label>
                <div class="col-sm-8">
                    <input name="chaPlace" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年份：</label>
                <div class="col-sm-8">
                    <input name="chaAge" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">茶叶的单价（两）：</label>
                <div class="col-sm-8">
                    <input name="chaPrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">茶叶简介：</label>
                <div class="col-sm-8">
                    <input name="chaIntroduce" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/bases"
        $("#form-bases-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-bases-add').serialize());
            }
        }
    </script>
</body>
</html>